body{
	font-family: cursive!important;
}

.header {
  padding:100px;
  text-align: center;

  background-size:70% ;
  background-repeat: repeat;
 
  

}

.bcolor{
		 background-image: linear-gradient(to top , black ,grey ,grey,black );
	}

.navcolor{
		 background-image: linear-gradient(to bottom right, white , grey ,white,white );
	}

		.navbar {
  overflow: hidden ;
 
  position: sticky;
  top: 0;
  


}

/* Style the navigation bar links */
.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 22px 20px;
  text-decoration: none;
  font-family:Impact;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: tomato;
  color: white;

 
}





        .container
		{
			padding:0.01em 16px
		}
		.black
		{
			color:#fff;
			background-color:black;
		}
		.padding-64
		{
			padding-top:64px;
			padding-bottom:64px
		}
		.xxlarge
		{
			font-size:16px
		}
		.content
		{
			margin-left:auto;
			margin-right:auto;
			max-width:980px;
		}
		.center
		{
			text-align:center;

		}
		.jumbo
		{
			font-size:64px;
		}
		.border
		{
			border:1px solid #ccc;
		}
		.border-dark-grey
		{
			border-color:#616161
		}
		.row{
			content:"";
			display:table;
			clear:both;
		}
		
		.padding-large
		{
			padding:18px 20px;
		}
		.hover-red:hover
		{
			color:#fff;
			background-color:tomato;
		}
		.padding-32
		{
			padding-top:32px;
			padding-bottom:32px;
		}
		.white
		{
			color:black;
			background-color:white;

		}
		.right
		{
			float:right;
		}
		
		.dark-grey
		{
			color:#fff;
			background-color:#616161;
		}
		.round
		{
			border-radius:4px;
		}
		.red
		{
			color:#fff;
			background-color:red;
		}
		.text-grey
		{
			color:#757575;
		}
		.grey
		{
			color:#000;
			background-color:#9e9e9e;
		}
		.tablink
		{
			float: left;
           display: block;
           color: red;
           text-align: center;
           text-decoration: none;
           font-family:Impact;
		}
		.bg{
			background-image: url("circle images/cover5.png");
		}
		.bg1{
			background-image: url("circle images/bg1.png");
		}
		.bg2{
			background-image: url("circle images/bg2.png");
		}
		.bg3{
			background-image: url("circle images/bg3.png");
		}
		.bg4{
			background-image: url("circle images/bg4.png");
		}
		.bg5{
			background-image: url("circle images/bg5.png");
		}
		.bg6{
			background-image: url("circle images/bg6.png");
		}
		.bg7{
			background-image: url("circle images/bg7.png");
		}
		.bg8{
			background-image: url("circle images/bg9.png");
		}
		.Thank{
			background-image: url("circle images/Thankyou.png");
		}
		.menuButton{
			float: left;
			margin-bottom: 10px
		}


		/*gallery css*/
		* {box-sizing: border-box}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: tomato;
}



/*reserve css*/

.input
{
	padding:8px;
	display:block;
	border:none;
	border-bottom:1px solid #ccc;
	width:100%
}

.padding-16
{
	padding-top:16px;
	padding-bottom:16px;
}
.button
{
	width:100%;
	text-align:center;
	padding:16px 16px;
}


/*About css*/

.margin-top
{
	margin-top:16px!important;
}
.margin-bottom
{
	margin-bottom:16px!important;
}
.circle
{
	border-radius:50%;
}
.CU{
	margin-left: 90px;
	text-align: center;
}
/*contact css*/
.overflow {
  
  width: 100%;
  overflow-x: auto;
}

/*footer css*/
.padding-24
{
	padding-top:24px!important;
	padding-bottom:24px!important;
}
